/* Menu Item Card CSS */
.orderCard {
  /*display: flex;*
  flex-direction: column;*/
  /*height: inherit;*/
  background-color: white;
  color: white;
  margin:5px;
  width:270px;
  height: 220px;
  position: relative;
  padding:5px
}

  /* DATE, LOCATION, ETC */
.orderDetails {
  text-align: left;
  color: black;
  font-size: 15.5px;
  font-family: "Avenir Next";
  padding: .7rem;
  line-height: .2em;
}

.orderBack {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0; right: 0; bottom: 0; left: 0;
  padding: .3rem;
  overflow: scroll;
}
.orderTitle {
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: "Avenir Next";
  padding: 5px;
  line-height: normal;
}
.orderDescription {
  text-align: left;
  color: black;
  font-size: 15.5px;
  font-family: "Avenir Next";
  padding: 5px;
  line-height: normal;
}
.orderCard button{
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  background-color: #000;
  text-align: left;
  cursor: pointer;
  width: 25%;
  font-size: 14px;
  margin:5px;
}
